@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url('~assets/fonts/29LTKaff-Light.ttf') format('truetype');
  src: url('~assets/fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/Tajawal-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Tajawal Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Tajawal-Bold.ttf') format('truetype');
}