// colors
$primary: #00778B;
$primary-2: #1A8597;
$secondary: #22DEDE;
$accent: #094C59;
$blue: #0039F8;
$info: #F89747;
$warning: #D51C53;
$error: #F20505;
$success: #07A04A;
$light: #F8F8F8;
$lighter: #EFF1F9;
$white-300: rgba(239, 241, 249, 0.3);
$white: #fff;
$gray: #AFAFAF;
$dark-gray: #666666;
$border-color: rgba(0, 0, 0, 0.05);
$border: #AFAAAA;

$primary-dark: #272727;
$primary-secondary: #1E1E1E;

// fonts
$tajawal: 'Tajawal', sans-serif;
$tajawal_light: 'Tajawal Light', sans-serif;
$tajawal_bold: 'Tajawal Bold', sans-serif;
$body-font-family: 'Tajawal', sans-serif;
$heading-font-family: 'Tajawal', sans-serif;

// 
$input-height: 45px;

// shadow
$shadow: 0 6px 20px rgba(0, 0, 0, 0.02);
$shadow-lg: 0 10px 40px rgba(0, 0, 0, 0.1);