// Global Styles
@use '../base/variables' as *;

.main-page-container.container {
  @media screen and (min-width: 1400px) {
    max-width: 1400px !important;
  }

  @media screen and (max-width: 1264px) {
    max-width: 100% !important;
  }
}

.v-dialog--scrollable>.v-card>.v-card__text,
.v-data-table--fixed-header>.v-data-table__wrapper {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

// .v-app-bar.theme--light {
//   .theme--light.v-btn.v-btn--icon,
//   .theme--light.v-label {
//     color: $white !important;
//   }
// }

.v-data-table-header,
.v-application.theme--light .v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
  background-color: transparent !important;
}

.v-application.theme--light {

  // footer
  .app-sm-footer {
    .theme--light.v-card {
      background-color: $primary;
      color: $white;
    }
  }
}

.cp {
  cursor: pointer;
}

.siz-2 {
  font-size: 1.1rem !important;
}

.siz-3 {
  font-size: 20px !important;
  font-weight: bolder !important;
}

.siz-2 {
  font-size: 1.2rem !important;
}

.siz-sm {
  font-size: 14px !important;
}

.border-bottom-list {
  border-bottom: 1px solid #e0e0e0;
  line-height: 1;
}

.min-hegiht-auto {
  min-height: auto !important;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-e {
  text-align: end;
}

.selectSmall {
  max-width: 150px !important;
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.shadow-0 {
  box-shadow: none !important;
}

.border-0 {
  border: 0 !important;
}

.border-main {
  border: 1px solid $primary;
}

.border-light {
  border: 1px solid rgba(204, 204, 204, 0.563);
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.dark-select {
  border-radius: 5px;
  background-color: $primary;
}

// .user__avatar {
//   margin-right: 0.5rem;
//   border-right: 0.5px solid rgba(255, 255, 255, 0.5);
// }

.client-info-rwo {
  border-bottom: 1.2px solid #e7e7e7;
  max-width: 90%;
}

.inline-tabs {
  .v-tab {
    border: 0 !important;
  }

  .v-tab.v-tab--active {
    border: 0;
    border-bottom: 2.4px solid $primary !important;
    background-color: transparent !important;
    border-radius: 0;
  }
}

// const margin and padding
.mt-30p {
  margin-top: 30px !important;
}

[dir='ltr'] .user__avatar {
  margin-right: 0;
  margin-left: 0.5rem;
  border-right: none;
  border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

.v-application {

  .v-text-field--filled>.v-input__control>.v-input__slot,
  .v-text-field--full-width>.v-input__control>.v-input__slot,
  .v-text-field--outlined>.v-input__control>.v-input__slot {
    min-height: 1px;
  }

  .v-select.v-input--dense .v-chip {
    margin: 4px;
  }
}

[dir='ltr'] {
  .rotate-180 {
    transform: rotate(180deg);
  }
}

.sortable-column {
  cursor: grab;

  &.sortable-chosen {
    .theme--light.v-card {
      background-color: #042f4d;
      opacity: 0.4;
      color: #fff;
    }
  }
}

.input-head {
  min-height: 36px;
}

.v-application .notification-item {
  border: 1px dashed $border;
  border-radius: 10px;

  &.white {
    border-color: $border !important;
  }
}

.dashed-border {
  border-top: 1.5px dashed #eef1f9;
}

.border-radius-end {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.border-radius-start {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}

.border-primary-4 {
  border: 4px solid $primary !important;
}

.sucess-tx {
  color: #04cc48;
}

.error-tx {
  color: #ff0000;
}

.notfication-circle {
  position: absolute;
  border-radius: 50%;
  width: 18px;
  background-color: #f00;
  height: 18px;
  color: #fff;
  top: -15px;
  right: -7px;
  text-align: center;
  line-height: 21px;
  font-size: 12px;
}

/* Error-related CSS */

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  20%,
  60% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  80% {
    transform: translate3d(3px, 0, 0);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.HeartAnimation {
  padding-top: 2em;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.border-bottom-light {
  border-bottom: 1px solid #e0e0e0;
}

/* Parts are from twitter.com */

.popHeart {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.library-card {
  border: 2px solid transparent !important;

  &.selected {
    border-color: $primary !important;
  }
}

.permissions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
  grid-template-rows: repeat(auto-fit);
  gap: 10px;

  @media screen and (max-width: 760px) {
    grid-template-columns: 100%;
  }
}

.normal-a {
  text-decoration: none;
}

.tx-red {
  color: #f00 !important;
}

// text editor
[dir='rtl'] .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right: auto;
  left: 0;
}

.position-relative {
  position: relative;
}

.reletedTimepicker {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
  opacity: 0;
}

.v-application .btn-dark-switcher .v-icon {
  transform: rotate(150deg);
}

.about-section {
  position: relative;

  .bg-wave-shape {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
  }

  .about__img {
    position: relative;
    max-width: 400px;

    .about-shape {
      position: absolute;
      top: -40px;
      left: -40px;
      z-index: 1;
      width: 100px;
    }

    .about-section__img {
      position: relative;
      z-index: 2;
    }
  }
}

.work-stats {
  background: rgba(251, 255, 255, 1);
}

.train-about {
  .section-heading {
    position: relative;
  }

  .train-about-shape {
    position: absolute;
    top: -20px;
    left: -190px;
    z-index: 1;
    width: 100px;
  }

  .section-subheading,
  .section-text {
    position: relative;
    z-index: 3;
  }
}

.apply-now {
  &__content {
    position: relative;
    border-radius: 16px;
    background-color: rgba(245, 254, 255, 1);

    .shape {
      position: absolute;
      top: -30px;
      right: 50px;
      z-index: 1;
      width: 100px;
    }
  }
}

.v-application .features-card {
  width: 100%;
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: $shadow-lg !important;
  }
}

.gallery-img {
  border-radius: 16px;

  &__more {
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(232.45deg, rgba(0, 117, 141, 0.6) 23.35%, rgba(12, 57, 66, 0.6) 78.51%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: transparent !important;

    span {
      font-size: 2rem;
      color: #fff;
    }
  }
}